<div class="container">
	<div class="row">
		<h1 class="text-center">Mate</h1>
		<div class="header clearfix">
      <p><%= link_to "戻る", root_path ,:style=>"text-decoration:none; font-size: 20px;"%></p>
    </div>
    <h2 class="text-center">DM欄</h2>
    	<% current_user.entries.each do |entry| %>
				<% entry.room.entries.each do |entry| %>
					<% if entry.user.id != current_user.id %>

					 <% if Relationship.exists?(following_id: current_user.id, follower_id: entry.user.id) && Relationship.exists?(following_id: entry.user.id, follower_id: current_user.id) %>

						 <div class="dm-message clearfix">
						 	<table>
								<thead>
									<tr>
										<th><%= attachment_image_tag entry.user, :profile_image,:fill, 150, 150, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg" %></th><td><%= entry.user.user_name %></td>
										<span><%= link_to "Messageを送る" ,room_path(entry.room.id), class: "btn btn-success" %></span>
									</tr>
								</thead>
							</table>
						 </div>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
	</div>
</div>



<style>
  .header {
    border-bottom: 0.5px solid #EEEEEE;
  }

  .header p {
    float: right;
    margin-right: 200px;
  }

  .dm-message  {
  	width: 50%;
  	margin: 30px auto;
  }

  .dm-message td {
  	font-size: 20px;
		padding-left: 50px;
  }

  .dm-message span {
	  float: right;
		margin-top: 60px;
  }

  h2 {
  	font-size: 50px;
    font-family: 'Osaka';
  	padding-bottom: 30px;
  }


</style>